{% extends './base.html' %}

{% load static %}
{% load tag_extras %}
{% block title %}
<title>SelfStorage - Boxes</title>
{% endblock title %}
{% block content %}
<aside class="modal fade" id="OrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form class="d-flex flex-column align-items-center" style="max-width: 420px" action="{% url 'main:order' %}" method="post">
					{% csrf_token %}
					<h1 class="modal-title text-center fw-bold mb-3">Заказ бокса для хранения</h1>
					<input type="hidden" name="BOX_ID" value="" id="box_id">
					<input type="date" required name="FROM_DATE" id="from_date" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">
					<input type="date" required name="TO_DATE" id="to_date" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">
					<button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Заказать</button>
					<!--
					<span>Вспомнили пароль?  <a href="#SignModal" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Отмена</a></span>
					-->
				</form>
			</div>
		</div>
	</div>
</aside>
<aside class="modal fade" id="CallMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form class="d-flex flex-column align-items-center" style="max-width: 420px" action="{% url 'main:callbackorder' %}" method="post">
					<h1 class="modal-title text-center fw-bold mb-3">Заказ звонка</h1>
					{% csrf_token %}
					{% for field in callback_form %}
						<div class="row">
							<div class="col-4">
								{{field.label_tag}}
							</div>
							<div class="col-8">
								{{field}}
							</div>
						</div>
					{% endfor %}
					<input type="hidden" name="STORAGE_ID" value="" id="storage_id">
					<!--
					<input type="tel" required name="PHONE" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">
					-->
					<button class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Заказать звонок</button>
					<!--
					<span>Вспомнили пароль?  <a href="#SignModal" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Отмена</a></span>
					-->
				</form>
			</div>
		</div>
	</div>
</aside>
{% for storage in store_db %}
<aside class="modal fade" id="Map-{{storage.store.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				{{storage.store.map|safe}}
			</div>
		</div>
	</div>
</aside>
{% endfor %}
<main class="container mt-header">
	<article class="row">
		<div class="col-12 col-lg-6 mb-3 mb-lg-0">
			<h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
			<h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего дома </h4>
			<form class="" action="{% url 'main:order' %}" method="post">
				{% if not user.is_authenticated %}
				<input type="email" required name="EMAIL1" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
				{% endif %}
				<a href="{% url 'main:calc' %}" class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange" role="button" aria-disabled="true">Рассчитать стоимость</a>
				<!--
				<button class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
				-->
				{% if not user.is_authenticated %}
				<span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="{% url 'main:agreement' %}" class="link-dark" target="_blank">согласие на обработку персональных данных</a></span>
				{% endif %}
			</form>
		</div>
		<div class="col-12 col-lg-6 SelfStorage__img"></div>
	</article>
	<article class="mt-header">
		<h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
		<h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
		<a href="#BOX" id="toBox" class="d-none"></a>
		<ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
			{% for store in store_db %}
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<a href="#BOX" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" id="pills-{{store.store.pk}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{store.store.pk}}" role="tab" aria-controls="pills-{{store.store.pk}}" aria-selected="true">
						<div class="col-12 col-lg-3 col-xl-3 col-xxl-3 d-flex justify-content-center">
							<img src="{{ store.image.image.url }}" alt="" class="mb-3 mb-lg-0" width="150">
						</div>
						<div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 d-flex flex-column justify-content-center">
							<h4 class="text-center">{{store.store.city}}</h4>
							<h6 class="text-center">{{store.store.address}}</h6>
						</div>
						<div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 d-flex flex-column justify-content-center">
							<h4 class="text-center">{{store.free_boxes}} из {{store.boxes_count}}</h4>
							<h6 class="text-center">Боксов свободно</h6>
						</div>
						<div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 d-flex flex-column justify-content-center">
							<h4 class="text-center SelfStorage_green">от {{store.min_price.price__min}} ₽</h4>
							<h6 class="text-center">Рядом с метро</h6>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
		<script>
			{% for store in storages %}
			document.getElementById('pills-{{store.id}}-tab').addEventListener('click', () => {
				document.getElementById('toBox').click()
			})
			{% endfor %}
		</script>
	</article>
	<article class="pt-header" id="BOX">
		<div class="tab-content" id="boxes-content">
			{% for store in store_db %}
				{% if forloop.counter == 1 %}
					<div class="tab-pane fade show active" id="pills-{{store.store.id}}" role="tabpanel" aria-labelledby="pills-{{store.store.id}}-tab">
						<h1 class="text-center mb-4 fw-bold">{{store.store.city}} {{store.store.address}}</h1>
						<div class="row d-flex flex-column mb-5">
							<div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
								<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-html="true" data-bs-content="{{store.store.city}}<br> {{store.store.address}}<br> {{store.store.phone}}<br> {{store.store.email}}">
									Контакты
								</a>
								<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="{{store.store.description}}">
									Описание
								</a>
								<a type="button" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#Map-{{store.store.pk}}">Карта</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-lg-6">
								<div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner">
										{% for image in store.images.all %}
											{% if forloop.counter == 1 %}
												<div class="carousel-item active">
													<div class="d-flex flex-column align-items-center">
														<img src="{{image.image.url}}" alt="" height="354">
													</div>
												</div>
											{% else %}
												<div class="carousel-item">
													<div class="d-flex flex-column align-items-center">
														<img src="{{image.image.url}}" alt="" height="354">
													</div>
												</div>
											{% endif %}
										{% endfor %}
										<!--
										<div class="carousel-item">
											<div class="d-flex flex-column align-items-center">
												<img src="{% static 'img/image2.png' %}" alt="">
											</div>
										</div>
										-->
									</div>
									<div class="w-100 d-flex justify-content-center my-3">
										<button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
											</svg>
										</button>
										<div style="width: 1rem"></div>
										<button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
											</svg>
										</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="row">
									<p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
									<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.store.temperature}}</span>
										<span class="SelfStorage_grey mb-3">Температура на складе</span>
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.free_boxes}}  из {{store.boxes_count}}</span>
										<span class="SelfStorage_grey mb-3">Боксов свободно</span>
									</div>
									<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.store.heigth}}</span>
										<span class="SelfStorage_grey mb-3">Высота потолка</span>
										<span class="fs_30 fw-bold SelfStorage_orange">от {{store.min_price.price__min}} ₽</span>
										<span class="SelfStorage_grey mb-3">Оплата за месяц</span>
									</div>
									<div class="d-flex flex-column align-items-center align-items-lg-start">
										<!--
										<a href="#" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3 link" data-bs-toggle="modal" data-bs-target="#OrderModal">Арендовать бокс</a>
										-->
										<a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
										<a href="" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange" data-bs-toggle="modal" data-bs-target="#CallMe">Позвонить мне</a>
										<!--
										<button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
										-->
									</div>
									<a href="{% url 'main:faq' %}" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="tab-pane fade" id="pills-{{store.store.id}}" role="tabpanel" aria-labelledby="pills-{{store.store.id}}-tab">
						<h1 class="text-center mb-4 fw-bold">{{store.store.city}} {{store.store.address}}</h1>
						<div class="row d-flex flex-column mb-5">
							<div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
								<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-html="true" data-bs-content="{{store.store.city}}<br> {{store.store.address}}<br> {{store.store.phone}}<br> {{store.store.email}}">
									Контакты
								</a>
								<a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="{{store.store.description}}">
									Описание
								</a>
								<a type="button" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#Map-{{store.store.pk}}">Карта</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-lg-6">
								<div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner">
										{% for image in store.images.all %}
											{% if forloop.counter == 1 %}
												<div class="carousel-item active">
													<div class="d-flex flex-column align-items-center">
														<img src="{{image.image.url}}" alt="" height="354">
													</div>
												</div>
											{% else %}
												<div class="carousel-item">
													<div class="d-flex flex-column align-items-center">
														<img src="{{image.image.url}}" alt="" height="354">
													</div>
												</div>
											{% endif %}
										{% endfor %}
										<!--
										<div class="carousel-item">
											<div class="d-flex flex-column align-items-center">
												<img src="{% static 'img/image2.png' %}" alt="">
											</div>
										</div>
										-->
									</div>
									<div class="w-100 d-flex justify-content-center my-3">
										<button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
											</svg>
										</button>
										<div style="width: 1rem"></div>
										<button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
											</svg>
										</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="row">
									<p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
									<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.store.temperature}}</span>
										<span class="SelfStorage_grey mb-3">Температура на складе</span>
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.free_boxes}}  из {{store.boxes_count}}</span>
										<span class="SelfStorage_grey mb-3">Боксов свободно</span>
									</div>
									<div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
										<span class="fs_30 fw-bold SelfStorage_orange">{{store.store.heigth}}</span>
										<span class="SelfStorage_grey mb-3">Высота потолка</span>
										<span class="fs_30 fw-bold SelfStorage_orange">от {{store.min_price.price__min}} ₽</span>
										<span class="SelfStorage_grey mb-3">Оплата за месяц</span>
									</div>
									<div class="d-flex flex-column align-items-center align-items-lg-start">
										<a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
										<button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
									</div>
									<a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<!-- Вот тут для конкретного склада -->
		<form class="row mt-5 d-none">
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="ALL_BOXES" class="SelfStorage_radio d-none" checked>
				<label for="ALL_BOXES" class="btn my-2 w-100 fs_24">Все боксы</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="to3m" class="SelfStorage_radio d-none">
				<label for="to3m" class="btn my-2 w-100 fs_24">До 3 м²</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="to10m" class="SelfStorage_radio d-none">
				<label for="to10m" class="btn my-2 w-100 fs_24">До 10 м²</label>
			</div>
			<div class="col-6 col-lg-3">
				<input type="radio" name="BOXES_FILTER" id="From10m" class="SelfStorage_radio d-none">
				<label for="From10m" class="btn my-2 w-100 fs_24">От 10 м²</label>
			</div>
		</form>

		<!-- Тут можно конкретно по каждому складу делать  -->
		<ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">Все боксы</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill" data-bs-target="#pills-to3" type="button" role="tab" aria-controls="pills-to3" aria-selected="false">До 3 м²</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill" data-bs-target="#pills-to10" type="button" role="tab" aria-controls="pills-to10" aria-selected="false">До 10 м²</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill" data-bs-target="#pills-from10" type="button" role="tab" aria-controls="pills-from10" aria-selected="false">От 10 м²</button>
				</li>
			</ul>

		<div class="tab-content" id="pills-tabContent">

				<div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab">
					{% for storage in store_db %}
						{% for box in storage.available_boxes %}
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" data-bs-toggle="modal" data-bs-target="#OrderModal">
									<div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<div class="row py-1 px-1 mt-1">
											<div class="col text-left col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.storage.city}}</span><span class="fs_16">{{box.storage.address}}</span>
											</div>
										</div>
										<div class="row py-1 px-1 mt-1">
											<div class="col text-right col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.floor}} Этаж</span><span class="fs_16">№{{box.title}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ box.calc_square|floatformat:2 }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{box.length|to_meters}} х {{box.weigth|to_meters}} х {{box.heigth|to_meters}} м</span>
									</div>
									<div class="col-12 col-lg-2 data">
										<!--
										<a href="#" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3 link" data-bs-toggle="modal" data-bs-target="#OrderModal">Арендовать От {{box.price}} ₽</a>
										-->
										<input type="hidden" value="{{box.id}}" class="box">
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8 link" data-bs-toggle="modal" data-bs-target="#OrderModal">От {{box.price}} ₽</span>
									</div>
								</a>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="pills-to3" role="tabpanel" aria-labelledby="pills-profile-tab">
					{% for storage in store_db %}
						{% for box in storage.available_boxes %}
							{% if box.calc_square < 3 %}
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
									<div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<div class="row py-1 px-1 mt-1">
											<div class="col text-left col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.storage.city}}</span><span class="fs_16">{{box.storage.address}}</span>
											</div>
										</div>
										<div class="row py-1 px-1 mt-1">
											<div class="col text-right col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.floor}} Этаж</span><span class="fs_16">№{{box.title}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ box.calc_square }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{box.length|to_meters}} х {{box.weigth|to_meters}} х {% widthratio box.length|to_meters 1 box.weigth|to_meters %} м²</span>
									</div>
									<div class="col-12 col-lg-2 data">
										<!--
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{box.price}} ₽</span>
										-->
										<input type="hidden" value="{{box.id}}" class="box">
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8 link" data-bs-toggle="modal" data-bs-target="#OrderModal">От {{box.price}} ₽</span>
									</div>
								</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="pills-to10" role="tabpanel" aria-labelledby="pills-contact-tab">
					{% for storage in store_db %}
						{% for box in storage.available_boxes %}
							{% if box.calc_square < 10 %}
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
									<div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<div class="row py-1 px-1 mt-1">
											<div class="col text-left col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.storage.city}}</span><span class="fs_16">{{box.storage.address}}</span>
											</div>
										</div>
										<div class="row py-1 px-1 mt-1">
											<div class="col text-right col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.floor}} Этаж</span><span class="fs_16">№{{box.title}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ box.calc_square }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{box.length|to_meters}} х {{box.weigth|to_meters}} х {% widthratio box.length|to_meters 1 box.weigth|to_meters %} м²</span>
									</div>
									<div class="col-12 col-lg-2 data">
										<!--
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{box.price}} ₽</span>
										-->
										<input type="hidden" value="{{box.id}}" class="box">
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8 link" data-bs-toggle="modal" data-bs-target="#OrderModal">От {{box.price}} ₽</span>
									</div>
								</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="pills-from10" role="tabpanel" aria-labelledby="pills-contact-tab">
					{% for storage in store_db %}
						{% for box in storage.available_boxes %}
							{% if box.calc_square >= 10 %}
								<a href="#" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
									<div class="col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<div class="row py-1 px-1 mt-1">
											<div class="col text-left col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.storage.city}}</span><span class="fs_16">{{box.storage.address}}</span>
											</div>
										</div>
										<div class="row py-1 px-1 mt-1">
											<div class="col text-right col-12">
												<span class="SelfStorage_green fs_16 me-2">{{box.floor}} Этаж</span><span class="fs_16">№{{box.title}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{ box.calc_square }} м²</span>
									</div>
									<div class="col-6 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
										<span class="fs_24">{{box.length|to_meters}} х {{box.weigth|to_meters}} х {% widthratio box.length|to_meters 1 box.weigth|to_meters %} м²</span>
									</div>
									<div class="col-12 col-lg-2 data">
										<!--
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">От {{box.price}} ₽</span>
										-->
										<input type="hidden" value="{{box.id}}" class="box">
										<span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8 link" data-bs-toggle="modal" data-bs-target="#OrderModal">От {{box.price}} ₽</span>
									</div>
								</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
		</div>
	</article>
</main>
{% endblock content %}
{% block add_scripts %}
<script>
	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})
</script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script>
	$('.link').click(function(e) {
      e.preventDefault();
      var parent = $(this).closest('.data');
      console.log(parent);
      var boxID = $(parent).children('.box').val();
      console.log(boxID);
      $('#box_id').val(boxID);
      let now = new Date();
      let today = now.getDate()  + '/' + (now.getMonth() + 1) + '/' + now.getFullYear();
      console.log(today);
      $('#from_date').val(today);
    });
</script>
{% endblock add_scripts %}