{% extends './base.html' %}

{% load static %}
{% block content %}
<main class="container mt-header">
    <h1>Политика конфиденциальности уведомляет пользователей веб-сайта о персональных данных, собираемых в результате использования ими такого сайта в сети Интернет.</h1>
<p>
Персональные данные - это информация о пользователях веб-сайта (ФИО, дата рождения, номер, электронная почта и тп), которые позволяют идентифицировать конкретного пользователя.
</p>
    <p>
Документ может быть использован юридическими и/или физическими лицами, на имя которых зарегистрированы определенные доменные имена (далее "Правообладатель").
</p>
    <p>
Целью настоящего документа также является донести пользователям (1) вид/тип собираемой персональной информации; и (2) методы и способы сбора персональной информации; и (3) цели, для которых происходит сбор персональной информации; и (4) сроки хранения такой персональной информации, а также права пользователей; и (5) перечень лиц, которые могут получить доступ к передаваемой персональной информации.
</p>
    <p>
Данная Политика конфиденциальности предназначена исключительно для информирования пользователей о (возможном) сборе их персональных данных. Настоящий документ не стоит путать с Пользовательским соглашением (Terms of Use) для веб-сайта, которое определяет в свою очередь свод правил, которых пользователю нужно придерживаться во время использования определенного сайта (к примеру, запрет мошенничества, авторские права на контент, порядок возврата товара и т.п.). Кроме этого, если необходимо разработать порядок сбора и обработки персональных данных пользователей мобильного приложения, в таком случае необходимо воспользоваться отдельной Политикой конфиденциальности для мобильного приложения.
</p>
    <p>
Шаблон документа включает в себя следующие структурные элементы, в частности:

(1) общие положения (на какие отношения распространяется действие Политики конфиденциальности, какие права пользователей в области защиты своих персональных данных и тп); и

(2) какие персональные данные пользователей собираются веб-сайтом автоматически (к примеру, через установленные файлы куки); и

(3) какие личные данные пользователь предоставляет веб-сайту самостоятельно (к примеру, ФИО, электронный адрес, номер телефона); и

(4) какое лицо отвечает за хранение персональных данных и сроки такого хранения, а также имеет ли место трансграничная передача персональных данных; и

(5) имеют ли доступ третьи лица к персональным данным пользователей; и

(6) использует ли Правообладатель ремаркетинг или аналитические платформы для веб-сайта; и

(7) как пользователи могут подать запрос, жалобу или претензии касательно обработки и защиты их персональных данных; и

(8) каким образом предоставляется доступ несовершеннолетним пользователям к контенту веб-сайта; и

(9) какой порядок размещение и рассылки рекламного (маркетингового) контента и многое другое.

Обращаем внимание, что дополнительно к Политике конфиденциальности и Пользовательскому соглашению большинство разработчиков веб-сайтов размещают так называемую Политику конфиденциальности для куки файлов.


Доступность веб-сайта для пользователей из ЕС/на территории ЕС

Если веб-сайт будет доступным на территории ЕС и/или для пользователей из ЕС, в таком случае к порядку защиты персональных данных в обязательном порядке применяется европейское законодательство о защите персональных данных, а именно - Общий регламент защиты персональных данных или GDRP.

В данном случае Правообладателю нужно будет в обязательном порядке позаботиться о решении следующих задач:

(1) нанять в штат отдельного сотрудника, который будет ответственным за соблюдение законодательства о защите персональных данных (нужно только в том случае, если Правообладатель является государственным (муниципальным) органом или регулярно обрабатывает огромные массивы персональных данных пользователей или осуществляет мониторинг поведения пользователей в сети); и

(2) назначить официального представителя Правообладателя в ЕС, к которому пользователи/государственные органы из ЕС смогут обращаться по вопросам защиты персональных данных. Функции такого официального представителя могут выполнять отдельно назначенные физические/юридические лица или, если Правообладатель имеет представительство в ЕС, такие официальные представительства.

(3) в обязательном порядке требовать согласия на обработку персональных данных пользователей из ЕС в возрасте до 16 лет от их законных представителей.

Несоблюдение этих и иных правил, предусмотренных в GDRP, влечет за собой наложение на Правообладателя огромных штрафов уполномоченными органами ЕС по защите персональных данных.


Как использовать документ

Согласно общему правилу Политика конфиденциальности должна быть опубликована непосредственно на самом веб-сайте. Каждый пользователь должен иметь право ознакомиться с ее текстом.

Настоящая Политика конфиденциальности подойдет для любых видов и категорий веб-сайтов.

Политика конфиденциальности - документ, который не может быть изменен и/или дополнен по инициативе пользователей. Если пользователь не согласен с некоторыми положениями Политики конфиденциальности, он должен немедленно прекратить пользоваться веб-сайтом.

Документ вступает в юридическую силу с момента его опубликования/размещения на веб-сайте, если только иной срок не указан непосредственно в тексте самой Политики конфиденциальности. Обращаем внимание, что если права собственности на веб-сайт принадлежат компании (т.е. юридическому лицу), настоящая Политика конфиденциальности должна быть дополнительно утверждена приказом руководителя перед непосредственным опубликованием ее на самом веб-сайте.


Применимое законодательство

Политика конфиденциальности для веб-сайта разработана в соответствие с положениями Федерального закона "О персональных данных", Федерального закона "О внесении изменений в отдельные законодательные акты Российской Федерации в части уточнения порядка обработки персональных данных в информационно-телекоммуникационных сетях", а также правилами Общего регламента по защите персональных данных от 27 апреля 2016 года (GDRP), а также с устоявшейся практикой подготовки документов такого вида.
    </p>
</main>
{% endblock content %}